



html {
    background-image: url(https://images.fineartamerica.com/images/artworkimages/mediumlarge/2/battleship-glend-art-collections.jpg);
    background-size: cover;
}

body {
    font-family: 'Pirata One', cursive;
    color: aliceblue;
    font-size: large;
    display: flex;
    align-items: flex-start;
}

h1 {
    color: aliceblue;
    font-size: 90px;
    margin-right: 20px;
    text-decoration: underline;
    -webkit-text-stroke: 1px rgb(106, 106, 106);

}

h2 {
    margin-top: 30px;
}

.ship-container {
    display: flex;
    gap: 10px;
    margin: 30px;
}


.ship1 {
    background-color: red;
} 

.ship2 {
    background-color: red;
}

.ship3 {
    background-color: red;
}

.ship4 {
    background-color: red;
}


.ship-1 {
    width: 50px;
    height: 100px;
    margin: 3px;
    background-color: rgb(10, 65, 112);
    opacity: 60%;
    border: 1px solid black;
    cursor: grab;
   
}

.ship-2 {
    width: 50px;
    height: 150px;
    margin: 3px;
    background-color: rgb(10, 65, 112);
    opacity: 60%;
    border: 1px solid black;
    cursor: grab;
}

.ship-3 {
    width: 50px;
    height: 200px;
    margin: 3px;
    background-color: rgb(10, 65, 112);
    opacity: 60%;
    border: 1px solid black;
    cursor: grab;
}

.ship-4 {
    width: 50px;
    height: 250px;
    margin: 3px;
    background-color: rgb(10, 65, 112);
    opacity: 60%;
    border: 1px solid black;
    cursor: grab;
}

#grid-container {
    display: flex;
    flex-direction: column;
    margin-left: 100px;
    margin-top: 30px;
    margin-bottom: 30px;
    gap: 5px;

}

.game-grid {
    width: 500px;
    height: 500px;
    opacity: 60%;
    margin: 10px;
    display: flex;
    flex-wrap: wrap;
}

.cell {
    width: 50px;
    height: 50px;
    border: solid rgb(73, 72, 72) 1px;
    box-sizing: border-box;
}

/* .grid {
    display: grid;
    grid-template-columns: repeat(10, 1fr);
    grid-template-rows: repeat(10, 1fr);
    gap: 1px;
    border: 1px solid black;
    width: 500px;
    height: 500px;
    position: relative;
}

.grid div {
    background-color: aliceblue;
    opacity: 60%;
    border: 1px;
}

#plyrGrid .cell {
    background-color: aliceblue;
    border: 1px;
}







.grid.drop-target {
    border: 2px dashed yellow;
}

.hold {
    border: solid limegreen 3px;
}

.invisible {
    display: none;
}
 */

